.wishes {
  padding: 10px;
}

.category {
  margin-bottom: 20px;
}

.title {
  margin-bottom: 10px;
}

.wish {
  position: relative;
  padding-left: 20px;
  max-width: 70ch;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:hover .button {
    display: block;
  }
}

.bought,
.presented > .link {
  color: var(--color-black);
  text-decoration: line-through;
}

.button {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.link {
  color: var(--color-link);
}
