.wishes {
  padding: 10px;
}

.category {
  margin-bottom: 20px;
}

.category-title {
  margin-bottom: 10px;
}

.wish {
  position: relative;
  padding-left: 20px;
  max-width: 70ch;
}

.wish:not(:last-child) {
  margin-bottom: 10px;
}

.wish:hover .wish-button {
  display: block;
}

.wish > .link {
  color: var(--color-link);
}

.wish.bought,
.wish.presented > .link {
  color: var(--color-black);
  text-decoration: line-through;
}

.wish-button {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
