extends blocks/page
include blocks/link

block head 
  link(rel="stylesheet" href="/styles/main.css")

block content
  main.main
    header.main__header
      img.main__logo(src="/images/logo.webp" width="64px" height="64px" alt="Logo")
      h1.main__title Hi, I&rsquo;m Rustam
      p.main__subtitle Writing code brings me&nbsp;a&nbsp;sense of&nbsp;pleasure and satisfaction.
    section.main__section
      h2.main__about Here are a&nbsp;few things about&nbsp;me:
      ul.main__list
        li.main__list-item As&nbsp;a&nbsp;husband, father, engineer, and avid cyclist, I&nbsp;am 
          | constantly balancing my&nbsp;various roles and responsibilities. My&nbsp;love for 
          | cycling and engineering drive me&nbsp;to&nbsp;constantly improve and learn new things, 
          | and my&nbsp;role as&nbsp;a&nbsp;husband and father keeps me&nbsp;grounded and motivated 
          | to&nbsp;be&nbsp;the best version of&nbsp;myself. These different aspects 
          | of&nbsp;my&nbsp;life all work together to&nbsp;shape who I&nbsp;am and what I&nbsp;do.
        li.main__list-item Kaliningrad, Russia is&nbsp;my&nbsp;current place of&nbsp;residence.
        li.main__list-item At 
          +link('https://www.linkedin.com/company/s7-techlab', 'S7 Techlab')
          |, I am employed as a senior frontend engineer, where I utilize my skills and expertise to develop and maintain the company's web applications and interfaces.
    section.main__section
      h2.main__about Some of&nbsp;my&nbsp;personal projects include:
      ul.main__list
        li.main__list-item
          +link('https://github.com/rustamyusupov/rstm', 'rstm.me')
          |  – my&nbsp;personal website that serves as&nbsp;a&nbsp;testing ground for trying out new technologies.
        li.main__list-item
          +link('https://github.com/rustamyusupov/trp', 'trp')
          |  – a chrome extension that allows you to copy TrainerRoad workouts to TrainerPeaks.
        li.main__list-item
          +link('https://github.com/rustamyusupov/life-in-weeks', 'life-in-weeks')
          |  – a&nbsp;tool that helps you visualize your 90-year life in&nbsp;weeks.
        li.main__list-item
          +link('https://github.com/rustamyusupov/sans', 'sans')
          |  – a&nbsp;command line interface tool for setting your status in&nbsp;Slack, 
          | and a&nbsp;similar tool called 
          +link('https://github.com/rustamyusupov/tomato', 'tomato')
          |  that was written in&nbsp;Elixir.
    section.main__section
      h2.main__about More things about&nbsp;me: 
      ul.main__list
        li.main__list-item
          +link('https://github.com/rustamyusupov', 'GitHub')
        li.main__list-item
          +link('https://www.linkedin.com/in/rustamyusupov', 'LinkedIn')
        li.main__list-item
          +link('https://www.strava.com/athletes/rustamyusupov', 'Strava')
        li.main__list-item
          +link('mailto:i@rstm.me', 'Email')
