extends blocks/page
include blocks/link

block content
  main.main
    header.main__header
      img.main__logo(src="/images/logo.webp" width="64px" height="64px" alt="Logo")
      h1.main__title Hi, I&rsquo;m Rustam.
      p.main__subtitle I&nbsp;enjoy developing apps that make our world a&nbsp;little better.
    section.main__about
      h2.main__about A&nbsp;few things about&nbsp;me
      ul.main__list
        li.main__list-item I&rsquo;m a&nbsp;husband, father, engineer and sportsman.
        li.main__list-item I&nbsp;live in&nbsp;Kaliningrad, Russia.
        li.main__list-item I&nbsp;work as&nbsp;a&nbsp;senior frontend engineer&nbsp;at&nbsp;
          +link('https://www.linkedin.com/company/s7-techlab', 'S7 Techlab')
          | .
        li.main__list-item On&nbsp;the internet, I&nbsp;often go&nbsp;by&nbsp;rstm.
      h2.main__about Pet projects
      ul.main__list
        li.main__list-item
          +link('https://github.com/rustamyusupov/rstm', 'rstm.me')
          |  – my&nbsp;personal website is&nbsp;like a&nbsp;sandbox for technology trials.
        li.main__list-item
          +link('https://github.com/rustamyusupov/trp', 'trp')
          |  – is&nbsp;a&nbsp;chrome extension for copy 
          +link('https://www.trainerroad.com', 'TrainerRoad')
          |  workout to&nbsp;
          +link('https://trainingpeaks.com', 'TrainerPeaks')
          |.
        li.main__list-item
          +link('https://github.com/rustamyusupov/life-in-weeks', 'life-in-weeks')
          |  – your 90-year life in&nbsp;weeks.
        li.main__list-item
          +link('https://github.com/rustamyusupov/sans', 'sans')
          |  – set StAtus iN&nbsp;Slack from the command line interface. 
          | And the same one&nbsp;&mdash;&nbsp;
          +link('https://github.com/rustamyusupov/tomato', 'tomato')
          | , but written on&nbsp;Elixir.
      h2.main__about More things about&nbsp;me 
      ul.main__list
        li.main__list-item
          +link('https://github.com/rustamyusupov', 'GitHub')
        li.main__list-item
          +link('https://www.linkedin.com/in/rustamyusupov', 'LinkedIn')
        li.main__list-item
          +link('https://www.strava.com/athletes/20782006', 'Strava')
        li.main__list-item
          +link('mailto:i@rstm.me', 'Email')
