extends blocks/page
include blocks/link

block content
  main.main
    each category in categories
      section.wishes
        h4.wishes__title= category.name
        ul
          each wish in category.wishes 
            li.wishes__item(class= wish.statuses.map(s => `wishes__item--${s}`).join(" "))
              a.wishes__cog(href='/wishes/' + wish.id)
                img.wishes__icon(src="icons/settings.svg" width="16" height="16" alt="Icon Settings")
              +link(wish.link, wish.name)
              |  – 
              span= wish.price
