extends blocks/page

block head
  script(defer type="module" src="scripts/wishes.js")

block content
  main.main
    each category in categories
      section.category
        h4.category__title= category.name
        ul
          each wish in category.wishes 
            li.wish(class= wish.statuses.map(s => `wish--${s}`).join(" "))
              button.wish__cog(type="button")
                img.wish__icon(src="icons/settings.svg" width="14" height="14" alt="Icon Settings")
              a.wish__link(href=wish.link target="_blank" rel="nofollow noopener")= wish.name
              |  – 
              span= wish.price
