extends blocks/page
include blocks/iconLink
include blocks/link

block content
  main.main
    each category in categories
      section.wishes
        h4.wishes__title= category.name
        ul
          each wish in category.wishes 
            li.wishes__item
              +iconLink('/wishes/' + wish.id, 'settings.svg', "Settings")(class="wishes__cog")
              +link(wish.link, wish.name)
              |  – 
              span= wish.price
