@import 'blocks/box-sizing.css';
@import 'blocks/global.css';
@import 'blocks/main.css';
@import 'blocks/page.css';
@import 'blocks/wishes.css';

:root {
  --color-black: #000;
  --color-blue-medium: #0f62fe;
}
