@import 'blocks/base.css';
@import 'blocks/button.css';
@import 'blocks/form-control.css';
@import 'blocks/link.css';
@import 'blocks/main.css';
@import 'blocks/page.css';
@import 'blocks/wish.css';
@import 'blocks/wishes.css';

:root {
  --color-black: #000;
  --color-blue-light: #a3c8ed;
  --color-blue: #1976d2;
}
