.wish {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 768px;
}

.wish__field {
  margin-bottom: 10px;
  margin-right: 5px;
}

.wish__name {
  margin-right: 0;
  width: 100%;
}

.wish__container {
  flex: 1;
  position: relative;
}

.wish__link {
  padding-right: 35px;
}

.wish__icon-link {
  height: 16px;
  position: absolute;
  right: 8px;
  top: 16px;
  width: 16px;
}

.wish__price {
  width: 123px;
}

.wish__currency {
  width: 82px;
}

.wish__category {
  width: 130px;
}

.wish__sort {
  width: 65px;
}

.wish__archive {
  align-items: center;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  margin-left: 11px;
  width: 75px;
}

.wish__archive-field {
  height: 16px;
  padding: 0;
  width: 16px;
}

.wish__action {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  margin-top: 10px;
  width: 100%;
}
