doctype html
html#page.page(lang="en")
  head
    title=title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    meta(name="description" content=description)
    link(rel="icon" type="image/svg+xml" href="/icons/favicon.svg")
    link(rel="stylesheet" href="/styles/styles.css")
    script(defer type="module" src="/scripts/index.js")
    block head
  body.page__body
    block content
  
