li(class="wish " + wish.statuses.map(s => `wish--${s}`).join(" "))
  button.wish__cog(type="button" data-wish-id= wish.id)
    img(src="icons/settings.svg" width="14" height="14" alt="Icon Settings")
  a.wish__link(href=wish.link target="_blank" rel="nofollow noopener")= wish.name
  |  – 
  span= wish.price