* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  outline: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
select {
  font: inherit;
  outline: none;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}
