.button {
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  border: 0px;
  color: var(--color-blue);
  cursor: pointer;
  min-height: 36px;
  min-width: 64px;
  padding: 6px 8px;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--color-blue-lighter);
}

.button--outlined {
  border: 1px solid var(--color-blue-light);
  padding: 5px 15px;
}

.button--error {
  border-color: var(--color-red-light);
  color: var(--color-red);
}

.button--error:hover {
  background-color: var(--color-red-lighter);
}
