.main {
  max-width: 600px;
  margin: 0 auto;
}

.main__header {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
}

.main__logo {
  margin-top: 10px;
  margin-right: 15px;
  background-color: var(--color-gray);
}

.main__title {
  display: inline-flex;
  font-size: 64px;
  line-height: 1;
  margin-bottom: 20px;
}

@media (max-width: 530px) {
  .main__title {
    width: min-content;
  }
}

.main__subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  width: 100%;
}

.main__about {
  font-size: 18px;
  margin-bottom: 15px;
}

.main__list {
  margin-bottom: 30px;
}
