.wishes {
  margin-bottom: 20px;
}

.wishes__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.wishes__title {
  font-size: 24px;
  margin-right: 10px;
}

.wishes__visibility {
  margin-right: 5px;
}

.wishes__category-title {
  font-weight: 500;
  margin-bottom: 10px;
}

.wishes__item {
  max-width: 70ch;
  padding-left: 20px;
  position: relative;
}

.wishes__item:not(:last-child) {
  margin-bottom: 10px;
}

.wishes__cog {
  background-color: unset;
  border: unset;
  color: unset;
  cursor: pointer;
  left: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.not-touch .wishes__visibility:hover,
.not-touch .wishes__add:hover,
.not-touch .wishes__item:hover .wishes__cog {
  opacity: 1;
}

.not-touch .wishes__visibility,
.not-touch .wishes__add,
.not-touch .wishes__cog {
  opacity: 0;
}
