.wish {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 768px;
}

.wish__field {
  margin-bottom: 10px;
  margin-right: 5px;
}

.wish__name {
  width: 100%;
}

.wish__link {
  width: 40%;
}

.wish__price {
  width: 105px;
}

.wish__currency {
  width: 82px;
}

.wish__category {
  margin-right: 15px;
  width: 130px;
}

.wish__archive {
  align-items: center;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  width: 75px;
}

.wish__archive-field {
  padding: 0;
  width: 16px;
}

.wish__action {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  margin-top: 10px;
  width: 100%;
}
